<!doctype html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Cupcakes and Cookies is what we do. Order online and fresh treats will be at your doorstep in no time." />
    <meta name="keywords" content="cupcakes, cookies, treats, sweets, icing, fresh, delivery, gifts, anniversay" />
    <meta name="author" content="Jasmyne Boggs" />

    <!--Stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">

    <link rel="stylesheet" href="~/Content/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/fonts/flaticons/font/flaticon.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    @RenderSection("styles", required: false)
    <link href="~/Content/css/CustomStyles.css" rel="stylesheet" />
</head>

<body>
    <!--START header-->
    <header role="banner">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Cupcakery</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExample05">
                    <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("#", "#")">Bakery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Services", "Home")">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("About", "Home")">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Contact", "Home")">Contact</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav  ml-auto">
                        <li>
                            @Html.Partial("_Loginpartial")
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <span class="nav-link dropdown-toggle ml-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin Functions</span>
                                <div class="dropdown-menu" aria-labelledby="dropdown04">
                                    <a class="dropdown-item" href="@Url.Action("Index", "UsersAdmin")">Users Admin</a>
                                    <a class="dropdown-item" href="@Url.Action("Index", "RolesAdmin")">Roles Admin</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- END header -->

    <section class="home-slider-loop-false  inner-page owl-carousel">
        <div class="slider-item" style="background-image: url('/Content/img/brooke-lark-pGM4sjt_BdQ-unsplash.jpg');">
            <div class="container">
                <div class="row slider-text align-items-center justify-content-center">
                    <div class="col-md-8 text-center col-sm-12 element-animate">
                        <h1 class="mainTitle">@ViewBag.Title</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
     @RenderBody()

    <footer class="site-footer" role="contentinfo">
        <div class="container">
            @*<div class="row">
                    <div class="col-12 text-md-center text-left">
                        <ul class="list-unstyled footer-link d-flex footer-social">
                            <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
                            <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>*@
            <div class="row">
                <div class="col-12 text-md-center text-left">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy; @DateTime.Now.Year All rights reserved | This template is by <a href="https://colorlib.com" target="_blank" class="template">Colorlib</a> | Converted By Jasmyne Boggs
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- END footer -->
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#f205cb" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f205cb" /></svg></div>
    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/magnific-popup-options.js"></script>
    <script src="~/Content/js/main.js"></script>
    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            $('.navbar-nav > li a').each(function () {
                if ($(this).attr('href') == window.location.pathname) {
                    $(this).addClass('active');
                }
            });
        });
    </script>
</body>
</html>