@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated) {
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {
        @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    @*<li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "text-white" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
    <li class="nav-item dropdown">
        <span class="nav-link dropdown-toggle ml-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hello!</span>
        <div class="dropdown-menu" aria-labelledby="dropdown04">
            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "dropdown-item" })
            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </div>
    </li>
</ul>
    }
}
else {
        <ul class="nav navbar-nav navbar-right">
            <li><a id="registerLink" href="@Url.Action("Register", "Account")"><i class="fa fa-user-o" aria-hidden="true"></i> Register</a></li>
            <li class="ml-2"><a id="loginLink" href="@Url.Action("Login", "Account")"><i class="fa fa-lock" aria-hidden="true"></i> Log in</a></li>
        </ul>
}
