@{
    ViewBag.Title = "Cupcakery";
}

@section styles{
<style>



    header {
        background-color: unset !important;
    }

    @@media (max-width: 992px)
    {
    header {
        background-color: #7ABFB3 !important;
        font-weight: 600 !important;
    }
}
</style>
    }

<section class="home-slider-loop-false  inner-page owl-carousel">
    <div class="slider-item" style="background-image: url('/Content/img/brooke-lark-pGM4sjt_BdQ-unsplash.jpg');">
        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 element-animate">
                    <h1 class="mainTitle">@ViewBag.Title</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section bg-light element-animate">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
                <a href="@Url.Action("Index", "Bakeries")"><img class="img-fluid img-thumbnail border-0" src="~/Content/img/caitlyn-de-wild-Rdj-546bmZ8-unsplash.jpg" /></a>
                <h4 class="mb-4 mt-4">Cupcakes</h4>
                <p>Choose from our wide selection of cupcakes! We have rotating flavors each season and cupcakes that are year around.</p>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
                <a href="@Url.Action("Index", "Bakeries")"> <img class="img-fluid img-thumbnail border-0" src="~/Content/img/karlis-dambrans-oLHk_WLupSc-unsplash.jpg" /></a>
                <h4 class="mb-4 mt-4">Cookies</h4>
                <p>We offer classic cookie flavors! Our ooey gooey goodness will make you ask if grandma made this.</p>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
                <a href="@Url.Action("Services", "Home")"><img class="img-fluid img-thumbnail border-0" src="~/Content/img/mario-calvo-rNCnhO8XCeQ-unsplash.jpg" /></a>
                <h4 class="mb-4 mt-4">Catering</h4>
                <p>Tell us when and where and  we will be there. Just give us a call or contact us online.</p>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
                <a href="@Url.Action("Index", "Bakeries")"><img class="img-fluid img-thumbnail border-0" src="~/Content/img/priscilla-du-preez-BjhUu6BpUZA-unsplash.jpg" /></a>
                <h4 class="mb-4 mt-4">Online Ordering</h4>
                <p>Don't want to come into the bakery or live too far to visit. Order online! Guaranteed FRESH! </p>
            </div>
        </div>
    </div>
</section>
