@model StoreFront.UI.MVC.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}




<div class="container userContainer userDetail">
    <h2 class="text-left">@ViewBag.Title</h2>
    <div class="row">
        <div>
            <div id="userNameLeft">
                <strong> @Html.DisplayNameFor(model => model.UserName):</strong>
            </div>
            <div id="userNameRight">
                @Html.DisplayFor(model => model.UserName)
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row">
        <p> <strong>User Role(s):</strong></p>
        @if (ViewBag.RoleNames.Count == 0)
        {
            <p>No roles found for this user.</p>
        }

      
            @foreach (var item in ViewBag.RoleNames)
            {
                <div> @item</div>

            }
               
    </div>
    <div class="row">
        <div>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to User Admin", "Index")
        </div>
    </div>
</div>



