@model StoreFront.UI.MVC.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}




<div class="container">
    <h2 class="text-left">@ViewBag.Title</h2>
    <div class="row">
        <div>
            <div id="userNameLeft" style="float: left; width:34%">
                <strong> @Html.DisplayNameFor(model => model.UserName):</strong>
            </div>
            <div id="userNameRight" style="margin-left: 45%; text-align: right;">
                @Html.DisplayFor(model => model.UserName)
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row">
        <p style="float: left; width: 9%"> <strong>User Role(s):</strong></p>
        @if (ViewBag.RoleNames.Count == 0)
        {
            <p>No roles found for this user.</p>
        }

      
            @foreach (var item in ViewBag.RoleNames)
            {
                <div> @item</div>

            }
                <div class="clearfix"></div>
    </div>
    <div class="row">
        <div>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to User Admin", "Index")
        </div>
    </div>
</div>



