@model StoreFront.Data.EF.Bakery

@{
    ViewBag.Title = "Delete " + Model.TreatName;
}

<
@*<div>
        <h4>Bakery</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TreatName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TreatName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cost)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cost)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UnitsSold)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UnitsSold)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Calories)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Calories)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ingredients)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ingredients)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ImageFileName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImageFileName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HasGluten.GlutenStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HasGluten.GlutenStatus)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Season.SeasonName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Season.SeasonName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TreatCategory.TreatCategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TreatCategory.TreatCategoryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TreatStatu.TreatStatusName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TreatStatu.TreatStatusName)
            </dd>

        </dl>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>*@


<div class="container mainContainer">
    <div class="text-center" id="header">
        <h2 class="mt-3">Are you sure you want to delete @Model.TreatName</h2>
    </div>
    <div class="row">
        <div class="offset-2 col-md-4">
            <div class="float-left">
                <p>
                    <img class="img-fluid img-thumbnail border-00" src="~/Content/img/@Model.ImageFileName" alt="@Model.TreatName" />
                </p>
                <p>
                    <strong>@Html.DisplayNameFor(model => model.Price):</strong>
                    @Html.DisplayFor(model => model.Price)
                </p>

                @if (User.IsInRole("Admin"))
                {
                    <p>
                        <strong>@Html.DisplayNameFor(model => model.Cost):</strong>
                        @Html.DisplayFor(model => model.Cost)
                    </p>
                    <p>
                        <strong>@Html.DisplayNameFor(model => model.UnitsSold):</strong>
                        @Html.DisplayFor(model => model.UnitsSold)
                    </p>
                    <p>
                        <strong>@Html.DisplayNameFor(model => model.Season.SeasonName):</strong>
                        @Html.DisplayFor(model => model.Season.SeasonName)
                    </p>
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="float-right containerRight">
                <p>
                    <strong>@Html.DisplayNameFor(model => model.TreatCategory.TreatCategoryName):</strong>
                    @Html.DisplayFor(model => model.TreatCategory.TreatCategoryName)
                </p>
                <p>
                    <strong> @Html.DisplayNameFor(model => model.TreatStatu.TreatStatusName):</strong>
                    @Html.DisplayFor(model => model.TreatStatu.TreatStatusName)
                </p>
                @if (User.IsInRole("Admin"))
                {
                    <p>
                        <strong> @Html.DisplayNameFor(model => model.Quantity):</strong>
                        @Html.DisplayFor(model => model.Quantity)
                    </p>
                }
                <p>
                    <strong>@Html.DisplayNameFor(model => model.Description):</strong>
                    @Html.DisplayFor(model => model.Description)
                </p>
                <p>
                    <strong>@Html.DisplayNameFor(model => model.HasGluten.GlutenStatus):</strong>
                    @Html.DisplayFor(model => model.HasGluten.GlutenStatus)
                </p>
                <p>
                    <strong>@Html.DisplayNameFor(model => model.Calories):</strong>
                    @Html.DisplayFor(model => model.Calories)
                </p>
                <p>
                    <strong>@Html.DisplayNameFor(model => model.Ingredients):</strong>
                    @Html.DisplayFor(model => model.Ingredients)
                </p>
                @if (User.IsInRole("Admin"))
                {
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.BakeryTreatID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = Model.BakeryTreatID })
                    </p>
                }
            </div>
        </div>
        <div class="text-left">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>
