@model StoreFront.Data.EF.Bakery

@{
    ViewBag.Title = "Delete " + Model.TreatName;
}



<div class="container mainContainer">
    <div class="text-center" id="header">
        <h2 class="mt-3">Are you sure you want to delete @Model.TreatName?</h2>
    </div>
    <div id="containerLeft">
        <p>
            <img class="img-fluid img-thumbnail border-00" src="~/Content/img/@Model.ImageFileName" alt="@Model.TreatName" />
        </p>
        <p>
            <strong>@Html.DisplayNameFor(model => model.Price):</strong>
            @Html.DisplayFor(model => model.Price)
        </p>

        @if (User.IsInRole("Admin"))
        {
            <p>
                <strong>@Html.DisplayNameFor(model => model.Cost):</strong>
                @Html.DisplayFor(model => model.Cost)
            </p>
            <p>
                <strong>@Html.DisplayNameFor(model => model.UnitsSold):</strong>
                @Html.DisplayFor(model => model.UnitsSold)
            </p>
            <p>
                <strong>@Html.DisplayNameFor(model => model.Season.SeasonName):</strong>
                @Html.DisplayFor(model => model.Season.SeasonName)
            </p>
        }
    </div>


    <div id="containerRight">
        <p>
            <strong>@Html.DisplayNameFor(model => model.TreatCategory.TreatCategoryName):</strong>
            @Html.DisplayFor(model => model.TreatCategory.TreatCategoryName)
        </p>
        <p>
            <strong> @Html.DisplayNameFor(model => model.TreatStatu.TreatStatusName):</strong>
            @Html.DisplayFor(model => model.TreatStatu.TreatStatusName)
        </p>
        @if (User.IsInRole("Admin"))
        {
            <p>
                <strong> @Html.DisplayNameFor(model => model.Quantity):</strong>
                @Html.DisplayFor(model => model.Quantity)
            </p>
        }
        <p>
            <strong>@Html.DisplayNameFor(model => model.Description):</strong>
            @Html.DisplayFor(model => model.Description)
        </p>
        <p>
            <strong>@Html.DisplayNameFor(model => model.HasGluten.GlutenStatus):</strong>
            @Html.DisplayFor(model => model.HasGluten.GlutenStatus)
        </p>
        <p>
            <strong>@Html.DisplayNameFor(model => model.Calories):</strong>
            @Html.DisplayFor(model => model.Calories)
        </p>
        <p>
            <strong>@Html.DisplayNameFor(model => model.Ingredients):</strong>
            @Html.DisplayFor(model => model.Ingredients)
        </p>

    </div>

    <div class="clearfix"></div>

    <div class="float-left">
        @Html.ActionLink("Back to Bakery", "Index", null, new { @class = "btn btn-primary" })
    </div>
    <div class="float-right">
        @Html.ActionLink("Delete", "Delete", new { id = Model.BakeryTreatID }, new { @class = "btn btn-danger" })
    </div>
    <div class="clearfix"></div>
</div>

