@model IEnumerable<StoreFront.Data.EF.Bakery>

@{
    ViewBag.Title = "Bakery " + "Treats";
}



<section class="section bg-light element-animate mainSection">
    <div class="container   serviceWrapper">
        @if (User.IsInRole("Admin"))
        {
            <p>
                @Html.ActionLink("Add Bakery Treat", "Create", null, new { @class="btn btn-primary"})
            </p>
        }
        <h2 class="text-center mainBakeryTitle">@ViewBag.Title</h2>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
                    
                        <div>
                            <a href="@Url.Action("Details", new { id = item.BakeryTreatID })">
                                <img class="img-fluid img-thumbnail border-00" src="~/Content/img/@item.ImageFileName" alt="@item.TreatName" />
                            </a>
                        </div>
                        <div class="serviceWrapperInner">
                            <a href="@Url.Action("Details", new { id = item.BakeryTreatID })">
                                <h4 class="mt-3"> @Html.DisplayFor(modelItem => item.TreatName)</h4>
                            </a>
                            <p>@Html.DisplayFor(modelItem => item.Description)</p>
                        </div>
                </div>
            }
        </div>
    </div>
</section>

